{% extends 'appointment/base.html' %}
{% block head %}
        <title>Fizjoterapia Monika Sawicka | FIZJO-MED - Cennik</title>
        <meta name="description" content="Atrakcyjne ceny wykonywanych usług. Jeśli chcesz dowiedzieć się więcej - zadzwoń: 721 284 993">
{% endblock head %}
{% block content %}
        <div class="blue4"></div>

        <div class="container">
            <div class="first_cennik">
                <h1>CENNIK</h1>
            </div>
            <div class="second_cennik">
            <div class="cennik_border1">
                <h5>KONSULTACJA - 50 ZŁ</h5>
            </div>
            <div class="cennik_border">
            <h5>TERAPIA MANUALNA I TERAPIA INDYWIDUALNA:<br>
                <br>
                    &emsp; • 30MIN TERAPII - 50 ZŁ<br>
                    <br>
                    &emsp; • 1H TERAPII - 100 ZŁ</h5>
            
</div>
<div class="cennik_border">
<h5>
MASAŻ: <br>
<br>

&emsp; • CZĘŚCIOWY - 50 ZŁ (30 MIN)<br>
<br>

&emsp; • CAŁOŚCIOWY - 100 ZŁ (60 MIN)
</h5>
</div>
<div class="cennik_border">
<h5>
KINESIOTAPING ~ 25 ZŁ
</h5>
</div>
<div class="cennik_border">
<h5>
SUCHE IGŁOWANIE - 50 ZŁ
</h5>

</div>
<div class="cennik_border">
<h5>
FALA UDERZENIOWA - 50 ZŁ
</h5>
</div>
<div class="cennik_border">
<h5>
LASER WYSOKOENERGETYCZNY - 40 ZŁ
</h5>
</div>
<div class="cennik_border">
<h5>
ELEKTROTERAPIA - 15 ZŁ
</h5>
</div>
<div class="cennik_border">
<h5>
ULTRADŹWIĘKI / ULTRAFONOFOREZA - 15 ZŁ
</h5>
</div>
<div class="cennik_border">
<h5>
TERAPIA SKOJARZONA (PRĄD + UD) - 20 ZŁ
                </h5>
</div>
            </div>
        </div>
        <div class="blue2" ></div>
        <div class="created_by_cennik">
            <p id="created_by">FIZJO-MED Monika Sawicka | Projekt i realizacja: JK Sawicki</p>
        </div>
{% endblock content %}