{% extends 'appointment/base.html' %}
{% load static %}
{% block head %}
<title>Fizjoterapia Monika Sawicka | FIZJO-MED</title>
<meta name="description" content="FIZJO-MED Gabinet fizjoterapii i terapii manualnej specjalizujący się w usługach rehabilitacji ul. Gryfa Pomorskiego 3, 83-400 Kościerzyna.">
{% endblock head %}
{% block content %}
<div class="jumbotron">
            <div id="title">GABINET FIZJOTERAPII I TERAPII MANUALNEJ</div>
            <p>mgr Monika Sawicka</p>
            <p class="lead">
                <a class="btn btn-primary btn-xl" id="btn1" href="http://127.0.0.1:8000/#o_nas" role="button">O NAS</a>
                <a class="btn btn-primary btn-xl" id="btn2" href="http://127.0.0.1:8000/#kontakt" role="button">KONTAKT</a>
            </p>
            <div id="o_nas"></div> 
        </div>
        
        <div class="container">
            <div class="row" >
              <div class="col-md-12 col-lg-4">
                  <div class="card">
                      <div class="card-body text-center">
                        <img src="{% static "appointment/img/1.jpg" %}" alt="Terapia manualna" class="responsive">
                          <h5 class="note_title">TERAPIA MANUALNA</h5>
                          <p>Terapia manualna jest wąską specjalizacją w obrębie Fizjoterapii ukierunkowaną na ręczne badanie i leczenie pacjentów z tzw. dysfunkcjami narządu ruchu, a więc z bólem, przykurczem i niestabilnością w obrębie stawów kończyn górnych, dolnych, stawów skroniowo-żuchwowych oraz w obrębie poszczególnych odcinków kręgosłupa. Terapię manualną można stosować w przypadkach odwracalnych dysfunkcji natury czynnościowej, bez utrwalonych zmian strukturalnych.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-12 col-lg-4">
                  <div class="card">
                      <div class="card-body text-center">
                          <img src="{% static "appointment/img/2.jpg" %}" alt="Fizykoterapia" class="responsive">
                          <h5 class="note_title">FIZYKOTERAPIA</h5>
                          <p class="notka">Fizykoterapia jest jednym ze sposobów leczenia wykorzystujących działanie czynników fizycznych. Wybór rodzaju zabiegu uzależniony jest od żądanego efektu terapeutycznego. Określa stosowanie czynników fizykalnych jako wykorzystanie biofizycznych i elektrofizjologicznych odmian energii w celu oceny, leczenia i zapobiegania uszkodzeniom, ograniczeniom aktywności i przeszkód w uczestniczeniu w życiu społecznym, aby utrzymać i optymalizować stan zdrowia.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-12 col-lg-4">
                  <div class="card">
                      <div class="card-body text-center">
                        <img src="{% static "appointment/img/3.jpg" %}" alt="Masaż" class="responsive">
                          <h5 class="note_title">MASAŻ</h5>
                          <p class="notka">Masaż polega na wykonywaniu ruchów rąk, wywierających ucisk na tkanki ustroju w celu wywołania uczucia odprężenia i dobrego samopoczucia. Stosuje się do tego różne chwyty i techniki, co pozwala wyróżnić kilka rodzajów masaży np. tkanek głębokich, klasyczny, relaksacyjny. Wykonuje się go dla złagodzenia sztywności, napięcia i bólu mięśni oraz przezwyciężenia stresu. Stosowany jest jako lekarstwo, jako profilaktyka, a także jako rytuał zdrowego i długiego życia. </p>
                      </div>
                  </div>
              </div>
          </div>
        </div>

        <div class="blue" ></div>
        <div id="kontakt"></div>
        <div class="find_us">
            <p id="spacing">ZOBACZ GDZIE NAS <b>ZNAJDZIESZ</b></p>
        </div>
        <div class="container">
            <div class="contacte">
        <div class="contact mt-sm-4 mt-md-0" id="contactclass">
            <div class="col">
                <div class="gmap_canvas"><iframe width="500" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=Gryfa%20Pomorskiego%203%20Ko%C5%9Bcierzyna&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
                </div>
                </div>
            <div class="col-sm" id="daneonas">
                <div class="col-sm-41">
                <h2 class="mb-4">DANE O NAS:</h2>
            </div>
                <h6><b>ADRES</b></h6>
                <div class="xd">
                <p>Gryfa Pomorskiego 3,<br>
                83-400 Kościerzyna</p>
                <h6><b>GODZINY OTWARCIA</b></h6>
                <p>PON-PT 16:00 – 20:00<br>
                SOB-NIEDZ 08:00 – 14:00</p>
            </div>
            </div>
            <div class="col-sm" id="contact">
                <h6><b>KONTAKT</b></h6>
                <p>Telefon : 721 284 993<br>
                Email : <a href="mailto:kleinszmidt.monika@wp.pl">kleinszmidt.monika@wp.pl</a></p>
                <h6><b>ŚLEDŹ NAS</b></h6>
                <i class="fa fa-facebook-square" style="font-size:48px"></i>
            </div>
            </div>
            </div>
        </div>

            <div class="blue3" ></div>

        <div class="created_by">
            <p id="created_by">FIZJO-MED Monika Sawicka | Projekt i realizacja: JK Sawicki</p>
        </div>
{% endblock content %}