{% extends 'appointment/base.html' %}
{% block head %}
        <title>Fizjoterapia Monika Sawicka | FIZJO-MED - O mnie</title>
        <meta name="description" content="Nazywam się Monika Sawicka jestem magistrem w dziedzinie fizjoterapii i terapii manualnej. Ukończyłam Fizjoterapię na Akademii Wychowania Fizycznego i Sportu w Gdańsku. Nieustannie pogłębiam swoją wiedzę oraz umiejętności uczestnicząc w szkoleniach oraz konferencjach fizjoterapeutycznych.">
{% endblock head %}
{% block content %}
        <div class="blue4"></div>
        <div class="container">
            <div class="first_cennik">
                <h1>O MNIE</h1>
            </div>
            <div class="second_o_mnie">
                <div class="cennik_border1">
                <h1>Monika Sawicka</h1><h4>Magister fizjoterapii, Terapeuta manualny.</h4>
                <h5>Numer mojego prawa wykonywania zawodu to: 12066</h5>
                    <hr>
                <p id="o_mnie_font">&emsp; Ukończyłam Fizjoterapię na Akademii Wychowania Fizycznego i Sportu w Gdańsku. Nieustannie pogłębiam swoją wiedzę oraz umiejętności uczestnicząc w szkoleniach oraz konferencjach fizjoterapeutycznych. Doświadczenie zawodowe zdobyłam odbywając praktyki w licznych ośrodkach w Polsce oraz w pracy w Specjalistycznym Szpitalu w Kościerzynie. Bycie fizjoterapeutą to codzienna nauka, nieustanna inspiracja oraz wielka zagadka, aby jak najszybciej znaleźć przyczynę bólu i skupić się na niej, a nie na jej skutku - co robię z wielką pasją i przyjemnością. Koncentruję się na tym, że ciało człowieka stanowi jednorodną całość - równowaga i harmonia na wszystkich poziomach życia człowieka jest koniecznym warunkiem do zdrowia i szczęścia. Podstawą podtrzymywania efektów terapii jest trening indywidualny, dlatego też po wizytach pacjenci otrzymują ode mnie indywidualne zestawy ćwiczeń do wykonywania w domu.
                </p>
                <hr>
                <p id="o_mnie_fontx">
                Ukończone kursy i szkolenia:
                <br>
                <br>
                • Kaltenborn - Evjenth Concept
                <br>
                &emsp; - Terapia Manualna UEX - badanie i leczenie kończyny dolnej,
                <br>
                &emsp; - Terapia Manualna OEX - badanie i leczenie kończyny górnej,
                <br>
                &emsp; - Terapia Manualne UWS - badanie i leczenie piersiowego i lędźwiowo-krzyżowego odcinka kręgosłupa
                <br>
                • Suche igłowanie - medyczna akupunktura
                <br>
                • Kinesiology Taping
                <br>
                • Funkcjonalny Trening Sensomotoryczny
                <br>
                • Diagnostyka obrazowa
                <br>
                • Konferencja pt.: „Tkanki miękkie w praktyce terapeutycznej”</p>
            </div>
                <hr>
                <div class="cennik_border2">
                <div id="podpis"><p>mgr Monika Sawicka - fizjoterapeuta</p></div>
                </div>
            </div>
        </div>

        <div class="blue2"></div>

        <div class="created_by_cennik">
            <p id="created_by">FIZJO-MED Monika Sawicka | Projekt i realizacja: JK Sawicki</p>
        </div>
{% endblock content %}