{% extends 'appointment/base.html' %}
{% block head %}
        <title>Fizjoterapia Monika Sawicka | FIZJO-MED - Usługi</title>
        <meta name="description" content="Specjalizujemy się w profesjonalnym wykonywaniu usług z dziedziny fizjoterapii. Indywidualnie podchodzimy do każdego pacjenta przez co oferowane przez nas usługi są dopasowane do rodzaju i miejsca występowania bólu.">
{% endblock head %}
{% block content %}
        <div class="blue4"></div>

        <div class="container" id="uslugi">
            <div class="first_cennik">
                <h1>USŁUGI</h1>
            </div>
            <div class="first">

                <h4>ORTOPEDYCZNA TERAPIA MANUALNA</h4>
                <p>Za pomocą specjalistycznych testów manualnych można np. precyzyjnie stwierdzić czy przyczyną bólu w okolicy barku lub pośladka jest nadmiernie napięty mięsień, czy też uciśnięty nerw, czy też zmieniony chorobowo staw. Dokładne badanie umożliwia zastosowanie precyzyjnego leczenia, a inaczej leczy się uciśnięty nerw, inaczej zwyrodniały staw i inaczej zbytnio napięty lub skrócony mięsień. Rodzaj zmienionej chorobowo tkanki warunkuje użycie specyficznych dla tej tkanki technik manualnych.
                
                W celu utrwalenia pozytywnych skutków terapii manualnej stosuje się dodatkowe działania usprawniające, np. kinezyterapię.</p>
            </div>
            <div class="second">
                <h4>KINEZYTERPIA</h4>
            
                <p>Metoda kinezyterapeutyczna jest to samodzielny sposób podejścia do problemu postępowania leczniczego, zawierający adekwatne do stanu choroby techniki diagnostyczne, posiadający odpowiednio szeroki zasób ćwiczeń i działań leczniczych z uzasadnieniem ich wykonania wraz z teoretycznym wyjaśnieniem przyczyn dysfunkcji.</p>
            </div> 
                <div class="third">
                <h4>TERAPIA FALAMI UDERZENIOWYMI</h4>
                <p>Fale uderzeniowe są akustycznymi falami przenoszącymi energię w obszar objęty bólem w układzie mięśniowo-szkieletowym ze stanami podostrymi oraz przewlekłymi. Dzięki dostarczonej energii następuje proces leczenia oraz regeneracja tkanek miękkich. 
                    </p>
                    <p>Najczęstsze wskazania:</p>
                    
                    <p>&#8226; zespół bolesnego barku,
                    &#8226; ostroga piętowa,
                    &#8226; zapalenie rozcięgna podeszwowego,
                    &#8226; ból ścięgna Achillesa,
                    &#8226; zapalenie nadkłykcia bocznego/przyśrodkowego kości ramiennej (łokieć golﬁsty/łokieć tenisisty),
                    &#8226; zespół cieśni nadgarstka,
                    &#8226; wyrośla kostne małych stawów rąk,
                    &#8226; dolegliwości bólowe kręgosłupa,
                    &#8226; zapalenie kaletki stawu biodrowego,
                    &#8226; zespół przeciążeniowy mięśni,
                    &#8226; kolano skoczka,
                    &#8226; ból w okolicy pachwiny.</p>
                    <hr>
                    <h4>LASER WYSOKOENERGETYCZNY</h4>
                    <p>Moc wynosząca do 7 W pozwala na bardzo głębokie przenikanie światła laserowego. W momencie dotarcia do skóry światło laserowe tworzy w ludzkiej tkance falę fotomechaniczną właściwą dla danej długości fali. Ta mechaniczna stymulacja wolnych zakończeń nerwowych i innych receptorów bólu w tkance podskórnej blokuje bramkę bólową i przynosi natychmiastową ulgę w bólu. 
                    </p>
                    <p>Najczęstsze wskazania:</p>
                    
                    <p>&#8226; zespół bolesnego barku,
                    &#8226; zapalenie kaletki,
                    &#8226; ból odcinka szyjnego kręgosłupa,
                    &#8226; ból odcinka lędźwiowo-krzyżowego kręgosłupa,
                    &#8226; zespół przeciążeniowy mięśni,
                    &#8226; punkty spustowe, naciągnięcie mięśnia,
                    &#8226; skręcenie stawu skokowego,
                    &#8226; zapalenie rozcięgna podeszwowego,
                    &#8226; choroba zwyrodnieniowa stawu kolanowego/biodrowego,
                    &#8226; zespół cieśni nadgarstka,
                    &#8226; łokieć tenisisty/golﬁsty.</p>
                    <hr>
                    <h4>ELEKTROTERAPIA</h4>
                    <p>Jest to dziedzina fizykoterapii zajmująca się leczeniem objawowym schorzeń m.in. układu ruchu i neurologicznych za pomocą różnego rodzaju prądów leczniczych, w którym wykorzystuje się do leczenia prąd stały, modulowane prądy średniej częstotliwości oraz prądy impulsowe małej i średniej częstotliwości. Celem elektroterapii jest złagodzenie bólu i poprawienie ukrwienia stymulowanej tkanki. Przyspiesza wchłanianie obrzęków i wysięków śródstawowych.</p>
                    <hr>
                    <h4>ULTRADŹWIĘKI</h4>
                    <p>Terapia ultradźwiękowa polega na oddziaływaniu poprzez skórę na głębiej położone struktury ciała fali ultradźwiękowej, w celu uzyskania efektów terapeutycznych, przede wszystkim efektu przeciwbólowego i stymulacji komórkowych procesów naprawczych, poprzez wywoływanie zjawisk fizjologicznych spowodowanych działaniami termicznymi (cieplnymi) i atermicznymi (głównie mechanicznymi.</p>
                </div>
                    <div class="four">
                <h4>MASAŻ</h4>
                <p>
                    <p>Przeciwwskazania do stosowania masażu:</p>

                    <p>ostre i podostre stany zapalne,
                    gorączka,
                    tętniaki, żylaki,
                    padaczka,
                    niewyrównane wady serca (np. arytmia),
                    choroba nowotworowa,
                    zmiany dermatologiczne (łuszczyca, wypryski, owrzodzenia, egzema),
                    czas menstruacji (przy masażu głębokim brzucha oraz masażu dolnego odcinka kręgosłupa).
                </p>
            </div>
                </div>

        <div class="blue3" ></div>
        

        <div class="created_by">
            <p id="created_by">FIZJO-MED Monika Sawicka | Projekt i realizacja: JK Sawicki</p>
        </div>

{% endblock content %}