body
{
  font-family: arial;
  background: rgb(226,226,226);
background: linear-gradient(287deg, rgba(226,226,226,1) 0%, rgba(240,240,240,1) 100%);

}

.menu
{
    background-color: white;
    position: relative;
    z-index:10;
}


@media screen and (min-width: 1000px){
    .navbar-brand
    {
        font-size: 1.6vw;
        margin-left: 20vw;
        font-weight: 800;
        white-space: pre-wrap;
        letter-spacing: 1px;
    }
    .contacte
{
    margin-top: 45px;
    padding-top: 20px;
    background-color: rgb(247, 247, 247);
    border-radius: 1%;
    box-shadow: 10px 5px 10px 0px rgba(75, 75, 75, 0.39);
    margin-bottom: 30px;
}
    .navbar-nav
    {
        margin-right: 20vw;
        font-size: 0.8vw;
        letter-spacing: 1px;
    }
    #title
    {
        font-weight: 800;
        font-size: 32px;
        margin-bottom: 20px;
    }
    .fb
    {
        letter-spacing: 1px;
        font-size: 11px;
    }
    p
    {
        letter-spacing: 1px;
        font-size: 14px;
    }
    #created_by
    {
        letter-spacing: 1px;
        font-size: 11px;

    }
    .jumbotron
    {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
        padding-top: 300px;
        padding-bottom: 300px;
        margin-bottom: -5px;

    }
    #spacing
    {
        letter-spacing: 5px;
        font-size: 11px;
        font-weight: 100;
    }
    .gmap_canvas
    {
    margin-bottom: 20px;
    border-radius: 1%;
    margin-left: -50px;
    }
        #gmap_canvas
    {
        border-width: 0px;
        width: 100%;
    }
    .contact
    {
        display: flex;
        margin: auto;
        margin-left: 70px;       
    }
    #daneonas
    {
        margin: auto;
        margin-left: 50px;
    }
    #contact
    {
            margin-top: 104px;
            
    }
    h2
    {
        font-weight: 800;
        font-size: 1.65vw;
    }
    .responsive {
        width: 100%;
        height: auto;
        opacity: 1;
        border-radius: 2%;
        margin-bottom: 20px;
        box-shadow: 10px 5px 10px 0px rgba(75, 75, 75, 0.39);
        
    }
    #gmap_canvas
  {
      max-width: 300px;
      max-height: 300px;
      width: 90vw;
      height: 50vw;
      margin-bottom: -7px;
  }

  #index
  {
    letter-spacing: 1px;
    font-size: 12px;
  }
  h5
  {
      font-size: 20px;
      font-style: inherit;
  }
  #o_mnie_font
  {
      font-size: 16px;
  }
  #o_mnie_fontx
  {
      font-size: 16px;
  }
  .blue
{
    background-image: url(img/blue.png);
    background-repeat: no-repeat;
background-position-x: left;
height: 45px;
background-size: auto;
margin-top: -50px;
}
.blue2
{
    background-image: url(img/blue2.png);
    background-repeat: no-repeat;
background-position-x: right;
height: 26px;
background-size: auto;
margin-top: -20px;
margin-bottom: -10px;
}

.blue3
{
    background-image: url(img/blue2.png);
    background-repeat: no-repeat;
background-position-x: right;
height: 26px;
background-size: auto;
margin-top: -5px;
margin-bottom: -20px;
}

.blue4
{
    background-image: url(img/blueReversed.png);
    background-repeat: no-repeat;
background-position-x: left;
height: 26px;
background-size: auto;
margin-top: 3.7vw;
margin-bottom: -70px;
}
.btn
{
  font-size: 9px;
  font-weight: 800;
  letter-spacing: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

}

@media screen and (max-width: 1000px){
    .navbar-brand
    {
        font-size: 14.1px;
        font-weight: 800;
        white-space: pre-wrap;
        letter-spacing: 1px;
        /* text-shadow: 1px 1px 1px #000000; */
    }
    .contacte
{
    margin-top: -5px;
    padding-top: 30px;
    background-color: rgb(247, 247, 247);
    border-radius: 1%;
    box-shadow: 10px 5px 10px 0px rgba(75, 75, 75, 0.39);
    margin-bottom: 28px;
    padding-bottom: 10px;
}
    .navbar-nav
    {
        font-size: 10px;
        letter-spacing: 1px;
    }
    #title
    {
        font-weight: 800;
        font-size: 19px;
        margin-bottom: 20px;
    }
    p
    {
        letter-spacing: 1px;
        font-size: 12px;
    }
    .jumbotron
    {
    background-attachment: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
        padding-top: 135px;
        padding-bottom: 105px;
        margin-bottom: -15px;
    }
    #spacing
    {
        letter-spacing: 3px;
        font-size: 8px;
    }
    .contact
    {
        text-align: center;
    }
    .responsive {
        max-width: 60%;
        height: auto;
        opacity: 1;
        border-radius: 5%;
        margin-bottom: 20px;
        box-shadow: 10px 5px 10px 0px rgba(75, 75, 75, 0.39);
      }
      .gmap_canvas
    {
    margin-bottom: 20px;
    }


    #gmap_canvas
  {
    border-width: 2px;
    border-style: solid;
      margin-top: -10px;
      max-width: 100%;
      max-height: 300px;
      width: 90vw;
      height: 50vw;
      margin-bottom: -7px;
  }
  h2
    {
        font-weight: 800;
        font-size: 28px;
    }
    #contact
    {
            margin-bottom: 25px;
            
    }
    #created_by
    {
        letter-spacing: 1px;
        font-size: 8px;
    }
    #index
    {
    letter-spacing: 1px;
        font-size: 11px;
    }
    h5
    {
        font-size: 18px;
    }
    .blue
{
    background-image: url(img/blue.png);
    background-repeat: no-repeat;
background-position-x: left;
height: 36px;
background-size: auto;
margin-top: -50px;
}
.blue2
{
    background-image: url(img/blue2.png);
    background-repeat: no-repeat;
    background-position-x: right;
height: 20px;
background-size: auto;
margin-top: -20px;
margin-bottom: -10px;
}

.blue3
{
    background-image: url(img/blue2.png);
    background-repeat: no-repeat;
    background-position-x: right;
height: 20px;
background-size: auto;
margin-top: -10px;
margin-bottom: -20px;
}

.blue4
{
    background-image: url(img/blueReversed.png);
    background-repeat: no-repeat;
background-position-x: left;
height: 26px;
background-size: auto;
margin-top: 44px;
margin-bottom: -70px;
}
.btn
{
  font-size: 8px;
  font-weight: 800;
  letter-spacing: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
}

.navbar-toggler
{
    font-size: 10px;
    padding: 5px;
}

.toggler{
    color: black;
    letter-spacing: 0.2px;
}


.created_by
{
    margin-top: 15px;
    background-color: #2c2c2c;
    padding-top: 20px;
    padding-bottom: 1px;
    text-align: center;
    color: white;
    font-size: 12px;
    width: 100%;
  bottom: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow:0px 0px 0px black;
    -moz-box-shadow:0px 0px 0px black;

}

.created_by_cennik
{
    margin-top: 5px;
    background-color: #2c2c2c;
    padding-top: 20px;
    padding-bottom: 1px;
    text-align: center;
    color: white;
    font-size: 12px;    
    width: 100%;
}

.jumbotron
{
    color:white;
    text-align: center;
    margin-top: 72px;
    background-image: url(img/tlo-jasne.jpg);
    -webkit-box-shadow:0px 0px 0px black;
    -moz-box-shadow:0px 0px 0px black;

}

.nav-link {
    text-decoration: none;
    position: relative;
    display: inline-block;
  }
  .nav-link::after {
    content: '';
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    background: #007bff;
    transform: scaleX(0);
    transition: transform .35s ease;
  }
  .nav-link:hover::after {
    transform: scaleX(1);
  }

  #navbar
  {
    width: 100%;
    position: fixed;
    top: 0px;
    -webkit-box-shadow:0px 0px 0px black;
    -moz-box-shadow:0px 0px 0px black;
    box-shadow:0px 0px 4px black;
    background-color: rgb(247, 247, 247);
    opacity: 0.98;
  }


  .find_us
  {
    background-color: #2c2c2c;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    font-size: 12px;
    margin-top: -22px;
    margin-bottom: 35px;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow:0px 0px 0px black;
    -moz-box-shadow:0px 0px 0px black;
  }

  .row
  {
      text-align: justify;
      margin-top: 40px;
      margin-bottom: 62px;
  }

  .card
  {
      margin: 5px;
  }

  .note_title
  {
      font-weight: 800;
  }

    #btn2
    {
    background-color: white;
    color: black;
    }

    



.gmap_canvas
{
    text-align: center;
}

#uslugi
{
   margin-top: 130px;
}

.first
{
    margin-top: 50px;
   padding: 10px;
   background-color: rgb(247, 247, 247);
    border-radius: 1%;
    padding: 15px;
    box-shadow: 10px 5px 10px 0px rgba(75, 75, 75, 0.39);
}

.second
{
    margin-top: 50px;
   padding: 10px;
   background-color: rgb(247, 247, 247);
    border-radius: 1%;
    padding: 15px;
    box-shadow: 10px 5px 10px 0px rgba(75, 75, 75, 0.39);
}

.third
{
    margin-top: 50px;
   padding: 10px;
   background-color: rgb(247, 247, 247);
    border-radius: 1%;
    padding: 15px;
    box-shadow: 10px 5px 10px 0px rgba(75, 75, 75, 0.39);
}

.four
{
    margin-top: 50px;
   padding: 10px;
   background-color: rgb(247, 247, 247);
    border-radius: 1%;
    padding: 15px;
    box-shadow: 10px 5px 10px 0px rgba(75, 75, 75, 0.39);
    margin-bottom: 60px;
}

.first_cennik
{
    padding-left: 10px;
    margin-top: 140px;
    border-bottom-style: solid;
   border-width: 1px;
}

.second_cennik
{

   padding: 10px;
   margin-bottom: 60px;
}

#podpis
{
    float: right;
    font-style: italic;
}

.second_o_mnie
{

   padding: 10px;
   margin-bottom: 92px;
}

#gmap_canvas
{
    border-radius: 2%;
    box-shadow: 10px 5px 10px 0px rgba(75, 75, 75, 0.39);
}

.mapouter{text-align:center;}
.gmap_canvas {overflow:hidden;background-color:none!important;}

.card
{
    background-color: rgb(247, 247, 247);
    border-radius: 2%;
    padding: 15px;
    box-shadow: 10px 5px 10px 0px rgba(75, 75, 75, 0.39);
}

.gmap_canvas
{
    padding: 20px;
}

.cennik_border
{
    margin-top: 20px;
   padding: 10px;
   background-color: rgb(247, 247, 247);
    border-radius: 1%;
    padding: 15px;
    box-shadow: 10px 5px 10px 0px rgba(75, 75, 75, 0.39);
    margin-left: -10px;
    margin-right: -10px;
}

.cennik_border1
{
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 40px;
   padding: 10px;
   background-color: rgb(247, 247, 247);
    border-radius: 1%;
    padding: 15px;
    box-shadow: 10px 5px 10px 0px rgba(75, 75, 75, 0.39);
}

.cennik_border2
{
    margin-bottom: -20px;
}
#date
{
   margin-top: 200px;
    margin-left: 200px;
}

#messages
{
   margin-top: -100px;
}

.button {
  transition-duration: 0.4s;
    background-color: white;
  color: black;
    border-style: solid;
    border-width: thin;
    border-color: lightgrey;
    border-radius: 5px;
    padding: 15px;

}

.button:hover {
  background-color: lightgrey;
  color: white;
    border-color: rgb(247, 247, 247);
}

.form-group{
    text-align: center;
}

.card2{
    background-color: rgb(247, 247, 247);
    border-radius: 2%;
    padding: 124px;
    box-shadow: 10px 5px 10px 0px rgba(75, 75, 75, 0.39);
    margin-top: 7px;
}

